.about {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.about_content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.about_title {
    font-size: var(--size-2xl);
    color: var(--clr-light-gray);
    text-transform: uppercase;
}
.about_description {
    max-width: 60ch;
    font-size: var(--size-sm);
    
}
.about_experience {
    display: flex;
    flex-direction: column;
    gap: 1em;    
}
.about_hr {
    border-color: var(--clr-light-gray-blue);
}
.about_subtitle {
    font-size: var(--size-base);
    color: var(--clr-light-gray);
}
.about_ul_container {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}
.about_ul {
    display: flex;
    flex-direction: column;
    gap: 1em;
    list-style-type: '\1f44D';
    padding-left: 1em;
    padding-bottom: 1em;
    flex: 1;
}
.about-list {
    font-size: var(--size-sm);
    color: var(--clr-light-gray-blue);
}
.about_list:before {
    content: '';
    margin-left: 0.5em;
}

@media (min-width: 475px) {
    .about {
        gap: 1.5rem;
    }
    .about_content {
        gap: 1.5rem;
    }
    .about_title {
        font-size: var(--size-3xl);
    }
    .about_description {
        font-size: var(--size-base);
    }
    .about_subtitle {
        font-size: var(--size-2xl);
    }
    .about_list {
        font-size: var(--size-base);
    }
}

@media (min-width: 1024px) {
    .about {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .about_title {
        font-size: var(--size-4xl);
    }
    .about_description {
        font-size: var(--size-lg);
    }
    .about_subtitle {
        font-size: var(--size-3xl);
    }
    .about_list {
        font-size: var(--size-lg);
    }
}

@media (min-width: 1280px) {
    .about_content {
        gap: 2rem;
    }
    .about_title {
        font-size: var(--size-5xl);
    }
    .about-description {
        font-size: var(--size-xl);
    }
    .about_subtitle {
        font-size: var(--size-4xl);
    }
    .about_list {
        font-size: var(--size-xl);
    }
}