.footer_title {
    font-size: var(--size-sm);
    color: var(--clr-ligth-gray);
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    user-select: none;
}