.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    position: relative;
    z-index: 9999;
}
.header_menu {
    display: none;
}
 .header_bars {
    display: block;
    color: var(--clr-light-gray-blue);
    width: var(--size-2xl);
    height: var(--size-2xl);

 }

 @media (min-width: 768px) {
    .header_menu {
        display: flex;
        align-items: center;
        list-style: none;
        padding: 0;
        gap: 2rem;
    }
    .header_link {
        font-size: var(--size-xs);
        text-decoration: none;
        font-weight: 600;
        color: var(--clr-light-gray-blue);
        letter-spacing: 0.05rem;
        transition: color 0.3s;
    }
    .header_link:hover {
        color: var(--clr-indigo);
    }
    .header_line {
        border: 1px solid var(--clr-light-gray-blue);
        padding-top: 1.5em;
    }
    .header_sun {
        display: block;
        width: var(--size-base);
        height: var(--size-base);
    }
    .header_moon {
        display: none;
    }
    .header_resume {
        font-size: var(--size-xs);
    }
    .header_bars {
        display: none;
    }
 }

 @media (min-width: 1024px) {
    .header_menu {
        display: flex;
        align-items: center;
        list-style: none;
        padding: 0;
        gap: 2em;
    }
    .header_link {
        font-size: var(--size-base);
    }
    .header_sun {
        display: flex;
        width: var(--size-2xl);
        height: var(--size-2xl);
    }
    .header_resume {
        font-size: var(--size-sm);
    }
 }