.projects {
    text-align: center;
}
.projects_title_wrapper {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin-bottom: 5rem;
}
.projects_title {
    font-size: var(--size-2xl);
    color: var(--clr-light-gray);
    text-transform: uppercase;
}
.projects_link {
    width: var(--size-2xl);
    height: var(--size-2xl);
    color: var(--clr-indigo);

}
.project_img {
    width: 100%;
}
.project_name {
    font-size: var(--size-base);
    color: var(--clr-gray-blue);
    margin: 1rem 0;
}
.project_description1 {
    font-size: var(--size-sm);
    margin: 1rem 0;
}
.project_description2 {
    font-size: var(--size-sm);
    margin: 1rem 0;
}
.project_btn {
    font-size: var(--size-sm);
}
.project_subname {
    display: none;
}



/* extra small */
@media (min-width: 475px) {
    .projects_title {
        font-size: var(--size-3xl);
    }
    .projects_link {
        width: var(--size-3xl);
        height: var(--size-3xl);
    }
    .project_name {
        font-size: var(-size-lg);
        margin-bottom: 1.5rem;
    }
    .project_description1 {
        font-size: var(--size-base);
        margin: 1.5rem 0;
    }
    .project_description2 {
        font-size: var(--size-base);
        margin: 1.5rem 0;
    }
    .project_btn {
        font-size: var(--size-base);
    }
}
/* small*/
@media (min-width: 640px) {
    .all_projects_wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        'image1 content1'
        'content2 image2'
        'image3 content3'
        'content4 image4';
        place-items: center;
    }
    .project_image1 {
        grid-area: image1;
    }
    .project_image2 {
        grid-area: image2;
    }
    .project_image3 {
        grid-area: image3;
    }
    .project_image4 {
        grid-area: image4;
    }
    .project_content1 {
        grid-area: content1;
    }
    .project_content2 {
        grid-area: content2;
    }
    .project_content3 {
        grid-area: content3;
    }
    .project_content4 {
        grid-area: content4;
    }
    .project_img_wrapper {
        height: 100%;
        width: 100%;
        padding: 0;
    }
    .project_description_wrapper {
        padding: 0 1rem;
    }
    .project_name {
        display: none;
    }
    .project_subname {
        display: block;
        font-size: var(--size-base);
        color: var(--clr-gray-blue);
    }
    .project_description1 {
        font-size: var(--size-xs);
        color: var(--clr-light-gray-blue);
        margin: 1em 0;
    }
    .project_description2 {
        font-size: var(--size-xs);
        color: var(--clr-light-gray-blue);
        margin: 1em 0;
    }
    .project_btn {
        font-size: var(--size-xs);
    }
    
}
/* base*/
@media (min-width: 768px) {
    .project_subname {
        font-size: var(--size-lg);
    }
    .project_description1 {
        font-size: var(--size-sm);
    }
    .project_description2 {
        font-size: var(--size-sm);
    }
    .project_btn {
        font-size: var(--size-sm);
    }
}
/* large*/
@media (min-width: 1024px) {
    .projects_title {
        font-size: var(--size-4xl);
    }
    .projects_link {
        width: var(--size-4xl);
        height: var(--size-4xl);
    }
    .project_subname {
        font-size: var(--size-xl);
    }
    .project_description1 {
        font-size: var(--size-base);
    }
    .project_description2 {
        font-size: var(--size-base);
    }
    .project_btn {
        font-size: var(--size-base);
    }
}
/* extra large*/
@media (min-width: 1280px) {
    .projects_title {
        font-size: var(--size-5xl);
    }
    .projects_link {
        width: var(--size-5xl);
        height: var(--size-5xl);
    }
    .project_subname {
        font-size: var(--size-2xl);
    }
    .project_description1 {
        font-size: var(--size-lg);
    }
    .project_description2 {
        font-size: var(--size-lg);
    }
    .project_btn {
        font-size: var(--size-lg);
    }
    .all_projects_wrapper {
        width: 80%;
    }
}
/* 2 extra large*/
@media (min-width: 1536px) {
    .all_projects_wrapper {
        width: 70%;
    }
}