:root {
    
    --clr-dark-blue: #07234d; /* main color */
    --clr-blue-gray: #91a5c6; /* secondary color */
    --clr-cyanic: #64ffda; /* accented color */
    --clr-light-gray: #b9c0db; /* main text color */
    --clr-gray-blue: #949dc0; /* secondary text color*/
    --clr-light-gray-blue: #82b4fa; /* secondary accented text color*/
    --clr-indigo: #1e00ff; /* accented text color*/

    /* Text sizes */
    --size-xxs: 0.5rem;
    --size-xs: 0.75rem;
    --size-sm: 0.875rem;
    --size-base: 1rem;
    --size-lg: 1.125rem;
    --size-xl: 1.25rem;
    --size-2xl: 1.5rem;
    --size-3xl: 1.875rem;
    --size-4xl: 2.25rem;
    --size-5xl: 3rem;
    --size-6xl: 3.75rem;
    --size-7xl: 4.5rem;
    --size-8xl: 6rem;
    --size-9xl: 8rem;
    --size-10xl: 10rem;
}

* {
    margin: 0;
    line-height: calc(1em + 0.5rem);
}

html {
    scroll-behavior: smooth;
}

.light_mode {    
    --clr-dark-blue: #9ec5ff; /* main color */
    --clr-blue-gray: #555188; /* secondary color */
    --clr-cyanic: #1f7d67; /* accented color */
    --clr-light-gray: #083cd6; /* main text color */
    --clr-gray-blue: #102870; /* secondary text color*/
    --clr-light-gray-blue: #283951; /* secondary accented text color*/
    --clr-indigo: #9189d3; /* accented text color*/

    /* background-color: var(--clr-sky-light); */
    /* color: var(--clr-dark-blue-light); */
}

.hiden {
    display: none;
    transition: 0.3s;
}

body {
    font-family: 'General Sans', sans-serif;
    background-color: var(--clr-dark-blue);
    color: var(--clr-light-gray);
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
    user-select: none;
}

button {
    display: inline-block;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    color: inherit;
}

a {
    color: var(--clr-gray-blue);
    text-decoration: none;
}

strong {
    color: var(--clr-indigo);
}

main div {
    margin: auto;
    padding: 0 1rem;
}